

body,input,button{
  font-family: 'Montserrat', sans-serif;
}

.container{
	text-align: center;


}

.done{
	text-decoration: line-through;
}

button{
	margin: 5px;
	color: black;
	background: #12dbb7;
}

li{
	font-size: 20px;
	font-weight: bold;
	color: darkred;
}